* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home, .sobre, .comotrabalhamos, .equipe, .contato {
    width: 100%;
    height: 100vh; 
    text-align: center;
    font-size: medium;
    font-weight: bolder;
  }
  
  
  footer {
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 10px; 
  }
  
  footer p {
    font-size: small; 
    color: white;
  }
  
  .home, .comotrabalhamos, .contato , #servicos, header {
    background-color: #010570;
    color: white;
  }
  
  .sobre, .equipe {
    background-color: white;
    color: #010570;
  }
  
  
  /* Estilo para o menu */
  .menu {
    width: 100%;
    height: 20%;
  }
  
  .menu nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 1000;
  }
  
  .menul ul {
    list-style: none;
    display: flex; 
    justify-content: center; 
  }
  
  .menul li {
    margin: 0 10px;
  }
  
  .menul a {
    display: block;
    color: white;
    padding: 10px; 
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
  
  .menul a:hover {
    background-color: white;
    color: #000000;
  }
  
  .img-left {
    display: flex; 
    justify-content: center;
    padding-left: 1rem; 
  }
  
  .img-left img {
    width: 2rem;
    height: 2rem;
  }
  
  .icon-right {
    padding-right: 1rem;
  }
  
  .nav-img {
    width: 2rem;
    height: 2rem;
  }
  
  .menu-icon {
    display: none;
  }
  
  .icon-right a {
    text-decoration: none;
    color: inherit; 
  }
  
  /* Estilo para a página Home */
  .home {
    width: 100%;
    padding: 20vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-img {
    width: 60%;
    min-width: 10rem;
    transition: transform 0.2s ease; 
  }
  
  .text-section {
    flex: 1;
    padding-bottom: 15%;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  .text-section h1 {
    padding-bottom: 20px;
    font-size: 3.5rem;
    animation: pulse 4s infinite;
  }
  
  .text-section p {
    font-size: 1.2rem;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    animation: fadeIn 3s ease forwards;
  }
  
  /* Animação */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; 
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Estilo para a página Sobre */
  .sobre {
    width: 100%;
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
  }
  
  .sobre-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .sobre-texto p {
    color: #000;
    padding: 2% 5%;
    text-align: center;
    font-size: larger;
  }
  
  
  /* Estillo para a Página Como Trabalhamos */
  .comotrabalhamos {
    width: 100%;
    padding: 5rem;
  }
  
  .comotrabalhamos-texto p {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 0 8%;
      padding-top: 5rem;
      text-align: left;
      font-size: larger;
  }
  
  .comotrabalhamos-paragrafo {
    display: flex;
    padding-left: 6.8%;
    justify-content: left;
  }
  
  .comotrabalhamos-paragrafo p {
    padding: 1rem;
  }
  
  .comotrabalhamos-items {
    text-align: left;
    padding: 0rem 10%;
  }
  
  .comotrabalhamos-texto ul {
    list-style-position: inside;
    text-align: left;
    display: inline-block;
    margin-right: auto;
  }
  
  .comotrabalhamos-texto ul li {
    text-align: left;
  }
  
  .img-comoTrabalhamos {
    width: 100%;
  }
  
  .img-comoTrabalhamos img {
    width: 20rem;
    height: 13rem;
  }
  
  /* Estilo para a Página da Equipe */
  .equipe h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .equipe {
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: block;
  }
  
  .equipe-content {
    margin: 8% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .carrossel-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth; 
    /*transition: transform 10s cubic-bezier(0.25, 1, 0.5, 1);*/
  }
  
  .equipe-container {
    width: 17rem;
    background-color: #F7F7F7;
    margin-top: 2rem;
    flex: 0 0 calc(25% - 2rem);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.375);
    transition: opacity 0.3s ease-in-out; 
    /*transition: all 0.3s ease-in-out;*/
    border-radius: 1rem;
    height: 21rem;
  }
  
  .carrossel-fade {
    opacity: 0.2; 
  }
  
  .equipe-container:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .equipe-cargo {
    padding: 1rem 0;
  }
  
  .equipe-cargo h4 {
    color: #010570;
    font-weight: bolder;
    font-size: x-large;
  }
  
  .equipe-img {
    padding-bottom: 1rem;
  }
  
  .equipe-img img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
  }
  
  .equipe-especialidade {
    height: 30%;
    background-color: #010570;
    color: white; 
    padding: 1rem; 
    border-radius: 0 0 5px 5px; 
    width: 100%; 
    position: relative; 
  }
  
  .equipe-especialidade h4,
  .equipe-especialidade p {
    margin: 0; 
    text-align: center; 
  }
  
  .equipe-especialidade h4 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem; 
  }
  
  .button {
    margin: 0;
    height: 10%;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .button:disabled {
    background: #ccc;
    cursor: not-allowed;
    visibility: hidden;
  }
  
  /*Estilos para a pagina de serviços*/
  .servicos {
    padding: 5rem;
    width: 100%;
    height: 100vh;
  }
  
  .service h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .servicos-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 8%;
    display: grid; 
    gap: 30px; 
    justify-content: center; 
    align-items: center; 
    grid-template-columns: repeat(3, 1fr);
  }
  
  .servicos-container {
    padding: 20px; /* Espaçamento interno */
    background: white; /* Fundo branco para o card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center; /* Centralizar texto */
    /*width: 100%;
    height: 90%;
    background-color: #F7F7F7;
    margin: 1rem 3rem;
    padding: 1rem 3rem;
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.375);
    transition: 0.3s;
    border-radius: 1rem;
    flex: 0 0 calc(33% - 2rem);*/
  }
  
  .servicos-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .name-service {
    padding: 1rem 0;
  }
  
  .name-service h4 {
    color: #010570;
    font-weight: bolder;
    font-size: x-large;
  }
  
  .servicos-img {
    padding-bottom: 1rem;
  }
  
  .servicos-img img {
    border-radius: 50%;
    max-width: 100%; 
    /*width: 8rem;
    height: 8rem;*/
  }
  
  .servicos-vermais {
    display: flex;
    justify-content: center;
  }
  
  .servicos-vermais button {
    padding: 0.2rem 2.2rem;
    border-radius: 1rem;
    background-color: #010570; 
    color: white; 
    margin-bottom: 1rem;
  }
  
  /*Estilos para a página de produto*/
  .produto h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .produto {
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: block;
  }
  
  .produto-content {
    margin: 8% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .produto-container {
    width: 15rem;
    background-color: #F7F7F7;
    margin-top: 2rem;
    flex: 0 0 calc(25% - 2rem);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.375);
    transition: opacity 0.5s ease;
    border-radius: 1rem;
  }
  
  .carrossel-containerP {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    /*transition: transform 10s cubic-bezier(0.25, 1, 0.5, 1);*/
  }
  
  .carrossel-fada {
    opacity: 0.2; 
  }
  
  .produto-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .produto-name {
    padding: 1rem 0;
  }
  
  .produto-name h4 {
    color: #010570;
    font-weight: bolder;
    font-size: x-large;
  }
  
  /*Estilos para a página de contato*/
  .contato {
    padding: 5rem;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
  }
  
  #contato {
    padding: 5rem;
    font-family: Arial, sans-serif;
  }
  
  #formContato {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 50%;
  }
  
  #formContato label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  #formContato input{
    border-radius: 0.8rem;
  }
  
  #formContato input[type="text"]:nth-child(2),
  #formContato input[type="text"]:nth-child(4) {
    border: 1px solid #000;
  }
  
  
  #formContato input[type="text"],
  #formContato textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  #formContato input[type="submit"] {
    margin: 0 auto;
    width: 50%;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #formContato input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
  /* Consultas de mídia para responsividade */
  @media screen and (max-width: 1120px) {
    .icon-right {
      padding-left: 10%;
    }
    .img-comoTrabalhamos {
      padding-top: 10%;
    }
  }
  
  /* Estilos para tablets */
  @media screen and (max-width: 1024px) {
    .icon-right {
      padding-left: 1rem;
    }
    .home {
      flex-direction: column;
    }
    .home-img {
      width: 80%;
    }
  
    .text-section h1 {
      font-size: 2.5rem;
    }
  
    .text-section p {
      font-size: 1rem;
    }
  
    .sobre {
      padding: 5rem 2rem;
      text-align: center;
    }
    
    .sobre-texto p {
      padding: 1% 2%;
    }
  
    .comotrabalhamos {
      padding: 5rem 2rem;
    }
    .comotrabalhamos-texto p {
      padding: 1rem 2rem;
      font-size: medium;
    }
    .equipe-container {
      flex: 0 0 calc(33% - 2rem);
    }
    .equipe-content {
      margin: 15% 0;
    }
    .servicos-content {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
    }
    .produto-container {
      flex: 0 0 calc(33% - 2rem);
    }
    .produto-content {
      margin: 15% 0;
    }
    .img-comoTrabalhamos {
      padding-top: 10%;
    }
  }
  
  @media screen and (max-width: 860px) {
    .equipe-container {
      flex: 0 0 calc(50% - 2rem);
    }
    .equipe-content {
      margin: 20% 0;
    }
    .produto-container {
      flex: 0 0 calc(50% - 2rem);
    }
    .produto-content {
      margin: 20% 0;
    }
    .formulario {
      padding-top: 12rem;
    }
    #formContato {
      width: 80%;
    }
  }
  
  /* Estilos para dispositivos móveis */
  @media screen and (max-width: 768px) {
    .menu ul {
      position: fixed;
      top: 0;
      padding-bottom: 20rem;
      left: -100%;
      width: 50%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: left 0.3s ease;
      background-color: black;
      z-index: 9;
    }
  
    .menu-icon .fa-bars {
      display: block;
    }
  
    .menu ul.active {
      left: 0;
    }
  
    .menu-icon .fa-times {
      display: none;
    }
  
    .menu-icon .fa-times.active {
      display: block;
    }
  
    .menu-icon .fa-bars.active {
      display: none;
    }
  
    .img-left {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  
    .menu-icon {
      display: flex;
      cursor: pointer;
      color: white;
      padding: 0.85rem 1rem;
      box-shadow: 2px 1px 1px rgba(255, 255, 255, 0.295);
      z-index: 10;
    }
  
    .icon-right {
      padding-right: 1rem;
    }
  
    .home {
      width: 100%;
      flex-direction: column;
    }
  
    .home-img {
      width: 30%;
      min-width: 5rem;
    }
  
    .text-section h1 {
      font-size: 2rem;
    }
  
    .text-section p {
      font-size: 0.8rem;
    }
  
    .comotrabalhamos-texto p {
      padding: 2rem 1rem;
      font-size: 1rem;
    }
  
    .img-comoTrabalhamos img {
      width: 18rem;
      height: 10rem;
    }
  
    .equipe {
      padding: 1rem;
    }
    .produto {
      padding: 1rem;
    }
  
    .sobre-texto p {
      text-align: justify;
    }
    .servicos {
      height: auto;
    }
    .servicos-content {
      max-width: 400px;
      margin: 0 auto;
      grid-template-columns: 1fr; 
      justify-content: center;
      align-items: center;
    }
    .formulario {
      padding-top: 10rem;
    }
    #formContato {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .home {
      padding: 25vh 8vh;
    }
    .img-comoTrabalhamos img {
      width: 12rem;
      height: 8rem;
    }
    .equipe-content {
      padding-top: 25%;
    }
    .equipe-container {
      flex: 0 0 calc(100% - 2rem);
    }
    .equipe-content {
      margin: 25% 0;
    }
    .servicos {
      height: auto;
    }
    .produto-container {
      flex: 0 0 calc(100% - 2rem);
    }
    .produto-content {
      padding-top: 25%;
      margin: 25% 0;
    }
    .formulario {
      padding-top: 8rem;
    }
    #formContato {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 440px) {
    .home {
      padding: 15vh 10vh;
    }
    .servicos {
      height: auto;
    }
  }
  
  @media (max-height: 720px) {
    .img-comoTrabalhamos {
      display: none;
    }
  }